# --- Testing & Mocking ---
pytest==9.0.2
pytest-mock==3.15.1
respx==0.22.0
polyfactory==3.1.0
faker==38.2.0

# --- Linting & Formatting ---
black
ruff
pathspec==0.12.1

# --- Type Checking & Analysis ---
pyright
mypy-extensions==1.1.0
typing-inspection==0.4.2

# --- Environment Tools ---
nodeenv==1.9.1
shellingham==1.5.4
colorlog==6.10.1
pygments==2.19.2

# --- Other ---
