
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #121212;
}

.page-container {
    padding: 64px;
    background: url(../images/Wave.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.top-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.top-icons img {
    width: 40px;
}

.title {
    font-size: 64px;
    font-weight: 800;
    margin-top: 56px;
    margin-bottom: 40px;
    text-align: center; 
}


.search-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-box {
    display: flex;
    align-items: center;
    border:  2px solid rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 100px;
    gap: 12px;
    background-color: none ; 
    width: 80%;
    margin: 0 auto;

}

.search-icon {
    width: 24px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 4px;
    background-color: transparent;
    color: #121212;
    letter-spacing: 2px;
}

.search-input::placeholder {
    color:   #00000080;
}


.search-btn {
    padding: 10px 18px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;

    background: linear-gradient(135deg, #3B82F6 0%, #8B5CF6 100%);

    font-weight: 600;
    transition: 0.2s;
}

.search-btn:hover {
    opacity: 0.85;
}
.upload-box button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 12px 24px; 
    border: 2px dotted #3B82F6;
    border-radius: 12px;

    width: fit-content; 
    margin: 0 auto; 
}
.upload-box button:hover {
    border: none;               
    background-color: #EFF6FF;     
    color: white;                 
    transition: 0.3s;           
}

.upload-icon {
    width: 28px;
}

.upload-text {
    font-size: 16px;
    font-weight: 500;
    color: #3B82F6;
}


.divider-section {
    margin-top: 144px;
    text-align: center; 
}

.line {
    width: 100%;
    height: 1px;  
    background-color: #121212; 
}

.sub-text {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 400;
    color: #121212;
}
.main-content {
    margin-top: 64px;  

}
button {
    background: none;  
    border: none;        
    padding: 0;     
    cursor: pointer;    
}

