name: "Deploy the Backend"

on: 
  push:
    branches:
      - master
    paths-ignore:
      - "Docs/**"
      - "Contribution/**"
      - ".github/**"
      - ".gitignore"
      - "README.md"


jobs:
  deploy:
    name: "Deploy"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t scholarmind_backend:latest ./backend

      - name: Push Docker image
        run: docker push abdualrimali/my-vault:latest
