name: "Deploy the Backend"

on: 
  push:
    paths:
      - "backend/**"


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Install Railway CLI
        run: |
          curl -fsSL https://railway.app/install.sh | sh

      - name: Login to Railway
        run: railway login --apiKey ${{ secrets.RAILWAY_API_KEY }}
      
      - name: Deploy to Railway
        run: |
          cd backend
          railway up --ci --detach
