name: "Deploy the Backend"

on: 
  push:
    branches:
      - master
    paths-ignore:
      - "Docs/**"
      - "Contribution/**"
      - ".github/**"
      - ".gitignore"
      - "README.md"


jobs:
  deploy:
    name: "Deploy"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Install Railway CLI
        run: |
          curl -fsSL https://railway.app/install.sh | sh

      - name: Login to Railway
        run: railway login
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      
      - name: Deploy to Railway
        run: |
          cd backend
          railway up --ci --detach
